@font-face {
    font-family: 'comixno2clm_medium-webfont';
    src: url('../fonts/comixno2clm_medium-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'AnyConv.com__comixno2clm_medium-webfont';
    src: url('../fonts/eot fonts/AnyConv.com__comixno2clm_medium-webfont.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AnyConv.com__GveretLevinAlefAlefAlef-Regular (1)';
    src: url('../fonts/gvert Levin font/AnyConv.com__GveretLevinAlefAlefAlef-Regular (1).eot') format('embedded-opentype');
}
@font-face {
    font-family: 'AnyConv.com__GveretLevinAlefAlefAlef-Regular (1)';
    src: url('../fonts/gvert Levin font/AnyConv.com__GveretLevinAlefAlefAlef-Regular (1).ttf') format('truetype');
}

@font-face {
    font-family: 'KtavYadCLM-MediumItalic';
    src: url('../fonts/KtavYadCLM-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'AnyConv.com__KtavYadCLM-MediumItalic';
    src: url('../fonts/eot fonts/AnyConv.com__KtavYadCLM-MediumItalic.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'ComicSansMS3';
    src: url('../fonts/font comicSans/ComicSansMS3.ttf') format('truetype');
}

@font-face {
    font-family: 'AnyConv.com__COMIC';
    src: url('../fonts/font comicSans/AnyConv.com__COMIC.eot') format('embedded-opentype');
}

body {
    direction: rtl;
    font-family: 'comixno2clm_medium-webfont';
}

#container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    background-image: url('../image/img_contactUs/backgroundContact.png');
}

header {
    padding-top: 7%;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

#skip_to_content {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 30px;
    z-index: 9999;
    padding-right: 45%;
    box-sizing: border-box;
    border-radius: 600px;
}

    #skip_to_content a {
        display: block;
        width: 0.0001px;
        height: 0.0001px;
        overflow: hidden;
        z-index: 9999;
        text-align: center;
        /* font-weight: bold;*/
        border-radius: 600px;
        font-size: 14px;
        color: black;
        box-sizing: border-box;
        background-color: whitesmoke;
        margin: 0 auto;
    }

        #skip_to_content a:focus, #skip_to_content a:active {
            width: 110px;
            height: 30px;
            overflow: visible;
            z-index: 9999;
            padding-right: 45%;
            box-sizing: border-box;
            border-radius: 600px;
        }

#credit {
    font-size: 8pt;
    text-align: center;
    display: inline-block;
}

h1 {
    font-family: 'KtavYadCLM-MediumItalic';
    color: #C51515;
    font-size: 24pt;
    padding-right: 370px;
}

 a{
    color:black;
}

iframe {
    box-shadow: 0px 4px 11px #888888;
    border-radius: 40px;
    height: 720px;
    width: 1280px;
}

#this_page {
    font-size: 13pt;
    font-weight: bold;
}

/*//תפריט ניווט עליון//*/
#logo {
    padding-right: 12px;
    width: 203px;
    display: inline-block;
    float: right;
}

#mainNav ul li a {
    display: inline-block;
    color: black;
    height: 50px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    font-family: 'comixno2clm_medium-webfont';

}

#mainNav li a {
    display: inline-block;
    float: right;
}

#mainNavSpice ul {
    list-style: none;
    margin-top: 40px;
}

#mainNavSpice li {
    border-left: 1px solid black;
    width: 127px;
    height: 14px;
    display: inline-block;
}

#mainNavSpice ul li:last-child {
    border-left: none;
}

#mainNavSpice {
    background-image: url('../image/newNav.svg');
    height: 135px;
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 1280px;
    top:-5px;
}

#mainNavSpice ul li a:hover {
    background-image: url('../image/line.svg');
    background-position-y: 7px;
    background-position-x: 7px;
    background-repeat: no-repeat;
}

    #mainNavSpice ul li a:focus {
        background-image: url('../image/line.svg');
        background-position-y: 9px;
        background-position-x: 7px;
        background-repeat: no-repeat;
    }

.notActive {
    cursor: not-allowed;
}

/*//פוטר//*/

footer {
    margin-bottom: 0 auto;
    width: 1280px;
    clear: both;
}

#footerNav li a {
    display: inline-block;
    float: right;
}


#footerNav ul li a {
    display: inline-block;
    color: black;
    height: 50px;
    width: 90px;
    text-decoration: none;
    text-align: center;
    font-family: 'comixno2clm_medium-webfont';
}

#footerNavul {
    padding-left: 500px;
    padding-right: 500px;
    list-style: none;
    margin-top: 163px;
    padding: 11px 2px;
    text-align: center;
}


#footerNavSpice {
    background-image: url('../image/footerNav.svg');
    background-size: 113%;
    background-position: center;
    background-repeat: no-repeat;
    width: 1280px;
}


#footerNav ul li a:hover {
    background-image: url('../image/line.svg');
    background-position-y: 9px;
    background-position-x: 7px;
    background-repeat: no-repeat;
}

#footerNav ul li a:focus {
    background-image: url('../image/line.svg');
    background-position-y: 9px;
    background-position-x: 7px;
    background-repeat: no-repeat;
}

#footerNavul ul {
    list-style: none;
}

#footerNavul li {
    border-left: 1px solid black;
    width: 85px;
    height: 14px;
    display: inline-block;
}

    #footerNavul li:last-child {
        border-left: none;
    }

